@charset "UTF-8";
/*reset*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  /*selector universal*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /*font-size base: 16px = 1rem*/ }

/* Agregar los import*/
/* ==========          MOBILE FIRST           ==============*/
/**/
/************************************************************/
/*************    Comienzo HEADER Nav Bar    ****************/
/*************           mobile              ****************/
/************************************************************/
header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0; }
  header .navbar-toggler {
    /*class bootstrap*/
    background-color: #fff7f7; }
  header .nav-links {
    /*class bootstrap*/
    text-align: center; }
  header nav div a img {
    width: 80%; }

nav {
  background-color: #0c0a0a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem; }

nav ul {
  display: flex;
  gap: 3rem;
  justify-content: right; }

nav ul li a {
  color: #fff7f7;
  text-decoration: none;
  /*saca el subrayado*/
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

nav ul li a:active {
  color: #ff5174; }

/************************************************************/
/*************      Fin HEADER Nav Bar     ******************/
/*************           mobile            ******************/
/************************************************************/
/**/
/**/
/*********************************************************/
/************     Comienzo HEADER Nav Bar    *************/
/************            TABLET             *************/
/*********************************************************/
@media (min-width: 768px) {
  header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0; }
    header .navbar-toggler {
      /*class bootstrap*/
      background-color: #fff7f7; }
    header .nav-links {
      /*class bootstrap*/
      text-align: center; }
    header nav div a img {
      width: 80%; }
  nav {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem; }
  nav ul {
    display: flex;
    gap: 3rem;
    justify-content: right; }
  nav ul li a {
    color: #fff7f7;
    text-decoration: none;
    /*saca el subrayado*/
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: 0.4s; }
  nav ul li a:active {
    color: #ff5174; } }

/***************************************************/
/********     Fin     HEADER Nav Bar     ***********/
/********            tablet              ***********/
/***************************************************/
/**/
/**/
/*********************************************************/
/************     Comienzo HEADER Nav Bar    *************/
/************            desktop 1024        *************/
/*********************************************************/
@media (min-width: 1024px) {
  header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0; }
  nav {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem; } }

/***************************************************/
/********     Fin     HEADER Nav Bar     ***********/
/********            desktop  1024       ***********/
/***************************************************/
/**/
/**/
/*********************************************************/
/************     Comienzo HEADER Nav Bar    *************/
/************       desktop 1200             *************/
/*********************************************************/
@media (min-width: 1200px) {
  header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0; }
  nav {
    background-color: #80007a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem; } }

/***************************************************/
/********     Fin     HEADER Nav Bar     ***********/
/********            desktop 1200        ***********/
/***************************************************/
.hero {
  padding: 10%;
  text-align: center;
  background-color: #ff5174; }
  .hero h1 {
    margin-top: 6rem;
    margin-bottom: 0.8rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    animation: aparecer-h1 3s infinite; }

@keyframes aparecer-h1 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

/* :::::::::::: MISIÓN (index.html) (mobile)  ::::::::::::::::*/
.main-index .container-mision {
  /*margin: arriba y abajo - izq y derecha*/
  padding-top: 3rem;
  /*64 px*/
  background-color: #10e47a;
  text-align: left; }

.main-index .mision {
  margin: 0 1.5rem; }

.main-index .h2-mision {
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.0625rem;
  font-size: 1.875rem;
  font-weight: bold; }

.main-index .text-mision {
  margin-top: 1rem;
  text-align: left; }

.main-index .text-mision2 {
  text-align: left;
  margin-bottom: 3.5rem; }

.main-index .img-mision {
  display: flex;
  flex-direction: column; }

/* ::::::::::::: VISIÓN (index.html) (mobile) :::::::::::::::*/
.main-index .container-vision {
  background-color: #fff7f7; }

.main-index .vision {
  margin: 0 1.5rem; }

.main-index .h2-vision {
  align-items: center;
  margin-top: 3rem;
  margin-left: 0.0625rem;
  font-size: 1.875rem;
  font-weight: bold; }

.main-index .text-vision {
  margin-top: 1rem;
  text-align: left;
  margin-bottom: 3rem; }

.main-index .text-vision2 {
  text-align: left;
  margin-bottom: 3.5rem; }

.main-index .img-vision {
  display: flex;
  flex-direction: column; }

/* :::::::::   VALORES (mobile) (index.html)  ::::::::: */
.main-index .container-valores {
  background-color: #10e47a;
  padding: 1rem; }

.main-index .valores {
  margin: 0 1.5rem; }

.main-index .h2-valores {
  align-items: center;
  margin-top: 3rem;
  margin-left: 0.0625rem;
  font-size: 1.875rem;
  font-weight: bold; }

.main-index .text-valores {
  margin-top: 1rem;
  text-align: left; }

.main-index .text-valores {
  text-align: left;
  margin-bottom: 3.5rem; }

.main-index .img-valores {
  display: none; }

.main-index .valor-1 {
  padding-bottom: 1rem; }

.main-index .valor-2 {
  padding-bottom: 1rem; }

.main-index .valor-3 {
  padding-bottom: 1rem; }

/*********************************************************/
/*************          Fin MAIN        ******************/
/*************           mobile         ******************/
/*********************************************************/
/**/
/********************************************************/
/************   Comienzo  QUIENES SOMOS  ****************/
/************   (nosotros.html) mobile  *****************/
/********************************************************/
.main-nosotros .container-quienes {
  /*margin: arriba y abajo - izq y derecha*/
  padding: 3rem;
  background-color: #10e47a; }

.main-nosotros .quienes-somos {
  text-align: left; }

.main-nosotros .h2-quienes {
  align-items: center;
  margin-top: 1rem;
  margin-left: 1px;
  font-size: 1.875rem;
  font-weight: bold; }

.main-nosotros .h3-nombre {
  margin-top: 4rem;
  font-weight: bold; }

.main-nosotros .text-quienes {
  margin-top: 1rem;
  text-align: left; }

.main-nosotros #container-nosotros {
  background-color: #10e47a;
  /*display: flex;
        flex-direction: column;*/
  display: flex;
  flex-direction: column;
  /*justify-items: center; va solo en grid*/
  z-index: 999; }

.main-nosotros .card {
  width: 100%;
  border: none;
  background-color: #10e47a; }

.main-nosotros .card .contenido .text-present1 {
  margin-bottom: 1.875rem;
  text-align: left;
  display: block; }

.main-nosotros .contenido {
  background-color: #10e47a;
  margin: 0 1.5rem; }

.main-nosotros .text-present1 {
  font-weight: bold; }

.main-nosotros .text-present2 {
  margin-bottom: 4rem; }

/***********************************************************/
/*************     Comienzo GALERIA      *******************/
/*************  (proyectos.html) mobile  *******************/
/***********************************************************/
.main-proyectos .contenedor-imagenes {
  padding: 1.25rem 0;
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "imagen-1" "imagen-2" "imagen-3" "imagen-4" "imagen-5" "imagen-6";
  justify-items: center;
  align-items: center;
  gap: 1.25rem; }

.main-proyectos .imagen-1 {
  grid-area: imagen-1; }

.main-proyectos .imagen-2 {
  grid-area: imagen-2; }

.main-proyectos .imagen-3 {
  grid-area: imagen-3; }

.main-proyectos .imagen-4 {
  grid-area: imagen-4; }

.main-proyectos .imagen-5 {
  grid-area: imagen-5; }

.main-proyectos .imagen-6 {
  grid-area: imagen-6; }

.main-proyectos .imagen {
  width: 80%;
  position: relative; }
  .main-proyectos .imagen img {
    width: 100%;
    object-fit: cover; }

.main-proyectos .imagen:hover .overlay {
  height: 100%;
  cursor: pointer; }

.main-proyectos .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #10e47a;
  /*opacity: .93;*/
  /*transparencia verde*/
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .6s ease-in-out;
  font-weight: bold; }
  .main-proyectos .overlay h4 {
    color: #0c0a0a;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /*agregar en mobile -> font-size: 16px; */
    font-size: 16px; }
  .main-proyectos .overlay .p-proyecto {
    color: #0c0a0a;
    font-weight: lighter;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -30%);
    font-size: 12px;
    margin-top: 10px; }

/* ==========          MOBILE FIRST           ==============*/
/**/
/**********************************************************/
/*************       Comienzo FOOTER      *****************/
/*************            mobile          *****************/
/**********************************************************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  background-color: #ff5174; }

.texto-copyright {
  font-size: 1rem;
  text-align: center;
  background-color: #ff5174; }

.redes {
  display: none; }

footer p a {
  text-decoration: none;
  color: #0c0a0a; }

.link-servicios:active {
  color: #fff7f7; }

/************************************************************/
/*************          Fin FOOTER         ******************/
/*************            mobile           ******************/
/************************************************************/
/**/
/**/
/*********************************************************/
/************        Comienzo FOOTER         *************/
/************            tablet              *************/
/*********************************************************/
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6.5rem;
    background-color: #ff5174; }
    .footer p a {
      text-decoration: none;
      color: #0c0a0a; }
  .texto-copyright {
    display: block;
    margin-top: 2rem;
    font-size: 0.9rem;
    background-color: #ff5174; }
  .texto-seguinos {
    display: block;
    margin-left: 8rem;
    font-size: 0.9rem;
    background-color: #ff5174; }
  .redes {
    /*justify-content: center;*/
    height: 15px;
    display: flex;
    background-color: #ff5174; }
  .icon-redes {
    margin-left: 0.5rem; } }

/*variables, mixin, extend*/
