@import "../base/variables";
@import "../base/mixin";


/* ==========          MOBILE FIRST           ==============*/
/**/
/************************************************************/
/*************    Comienzo HEADER Nav Bar    ****************/
/*************           mobile              ****************/
/************************************************************/

header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;

    .navbar-toggler {/*class bootstrap*/        
        background-color: $color-blanco;
    }

    .nav-links { /*class bootstrap*/        
        text-align: center;
    }

    nav {
        div {
            a {
                img {
                    width: 80%;
                }
            }
        }
    }
}

nav {
    background-color: $color-negro;
    @include header;
    padding: 3rem;

}

nav {
    ul {
        display: flex;
        gap: 3rem;
        justify-content: right;
    }
}

nav {
    ul {
        li {
            a {
                color: $color-blanco;
                text-decoration: none;/*saca el subrayado*/          
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

nav {
    ul {
        li {
            a:active {
                color: $color-salmon;
            }
        }
    }
}

/************************************************************/
/*************      Fin HEADER Nav Bar     ******************/
/*************           mobile            ******************/
/************************************************************/
/**/
/**/
/*********************************************************/
/************     Comienzo HEADER Nav Bar    *************/
/************            TABLET             *************/
/*********************************************************/
@include tablet {
    header {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;

        .navbar-toggler { /*class bootstrap*/           
            background-color: $color-blanco;
        }

        .nav-links {/*class bootstrap*/            
            text-align: center;
        }

        nav {
            div {
                a {
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }

    nav {
        background-color: red;
        @include header;
        padding: 3rem;

    }

    nav {
        ul {
            display: flex;
            gap: 3rem;
            justify-content: right;
        }
    }

    nav {
        ul {
            li {
                a {
                    color: $color-blanco;
                    text-decoration: none;/*saca el subrayado*/
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    transition: 0.4s;
                }
            }
        }
    }

    nav {
        ul {
            li {
                a:active {
                    color: $color-salmon;
                }
            }
        }
    }
}

/***************************************************/
/********     Fin     HEADER Nav Bar     ***********/
/********            tablet              ***********/
/***************************************************/
/**/
/**/
/*********************************************************/
/************     Comienzo HEADER Nav Bar    *************/
/************            desktop 1024        *************/
/*********************************************************/
@include desktop-1024 {
    header {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
    }

    nav {
        background-color: green;
        @include header;
        padding: 3rem;
    }
}

/***************************************************/
/********     Fin     HEADER Nav Bar     ***********/
/********            desktop  1024       ***********/
/***************************************************/
/**/
/**/
/*********************************************************/
/************     Comienzo HEADER Nav Bar    *************/
/************       desktop 1200             *************/
/*********************************************************/
@include desktop-1200 {
    header {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
    }

    nav {
        background-color: rgb(128, 0, 122);
        @include header;
        padding: 3rem;

    }
}

/***************************************************/
/********     Fin     HEADER Nav Bar     ***********/
/********            desktop 1200        ***********/
/***************************************************/